// import the CSS framework
@import "foundation";

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

.button{
  border-radius: 5px;
}

.botton .small{
  border-radius: 5px;
}

.botton .tiny{
  border-radius: 5px;
}

.button-small{
  border-radius: 5px;
}

#likePostB{
  border-radius: 5px;
  display: inline-block;
}


//override for new post
.form .button-to{
  color: white;
  background-color: 33cc99;
}

//overide for div on home
.posts{
  color: grey;
  border: 1px solid grey;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  width: 500px;
}

#postL{
  text-align:right;
  right: 40px;
  margin-bottom: 0px;
  display: inline-block;
}

//overrides for certain paragraph elements
.poster{
  font-size: small;
  margin-bottom: 10px;
  margin-top: 5px;
}

#postlikearea{
  display: inline-block;
}

//OVERRIDES AND FIXES FOR COMMENT ELEMENTS

#comment2{
  background-color: #e4e4e4;
  width: 350px;
  border: 1px solid transparent;
  overflow:hidden;
  margin-bottom: -22px;
}

#comment1{
  border: 1px solid transparent;
  background-color: #d4e7e8;
  width: 350px;
  overflow:hidden;
  margin-bottom: -22px;
}

#commentheader{
  color: grey;
  font-size: small;
  position:relative;
  top:5px;
  left: 10px;
}

#topcomm{
  display:inline-block;
}

#postComment{
  display:inline-block;
  margin-left: 88px;
  margin-bottom: 15px;
}

#commentbody1{
  position:relative;
  left:15px;
  background-color: #bed9db;
  padding-left:6px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
  font-size: 90%;
}

#commentbody2{
  position:relative;
  left:15px;
  background-color: #d7d7d7;
  padding-left:6px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
  font-size: 90%;
}

//override of the comment like button
#commentLike{
  position:relative;
  left:15px;
  height: 20px;
  line-height: 0px;
  border-radius:5px;
  bottom: 10px;
  margin: 0px;
}

#commentliketotal{
  font-size: small;
  margin: 0px;
  position: relative;
  text-align:left;
  bottom: 32px;
  left: 300px;
  width: 100px;
}

//override for the destroy post button
#buttondestroy{
  position: absolute;
  transition: .5s ease;
  top: 1.5%;
  left: 88%;
  background-color: #ff3333;
  border-radius: 10px;
}

//Background information for post/show
.country{
  color: grey;
  border: 1px dashed light grey;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  font-size: small;
}

//override for the viewing of posts
.in-page-post{
  border: 2px solid grey;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  margin-bottom: 15px;
  margin-top: 10px;
}


// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Foundation
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @include panel();
  padding-bottom: 60px;
}
.authform form a {
  font-size: rem-calc(13);
}
.authform form p {
  font-size: rem-calc(13);
}
.authform .form-group {
  // for Bootstrap, not used for Foundation
}
.authform .form-control {
  // for Bootstrap, not used for Foundation
}
.authform .checkbox {
  // for Bootstrap, not used for Foundation
}
.authform fieldset {
  @include panel();
}
.authform #error_explanation {
  @extend .alert-box;
  @extend .alert;
}
.authform #error_explanation h2 {
  font-size: rem-calc(16);
  color: white;
}
.button-xs {
  @extend .button;
  @extend .radius;
  @extend .tiny;
}
